NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=
APPWRITE_API_KEY=
NOWPAYMENTS_API_KEY=RZ5AEB8-BS24XAR-NPMMC5M-YC8NMXA
NOWPAYMENTS_PUBLIC_KEY=58ca3d4f-662c-4e98-86c0-98b5dd0420b3
